html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  max-width: 420px;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  border: 1px solid #ddd;
  cursor: pointer;
  padding:10px;
}
.modifiers button {
  background-color: #ccc;
  flex: 1;
}
.operations button {
  background-color: orange;
  width: 50px;
  flex: 1;
}
.digits button {
  flex: 1 0 33%;
}
.digits button {
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: flex;
}
.wrapper_in{display: flex; flex-wrap: wrap;}
.modifiers {
  display: flex;
}
.operations {
 display: flex;
 flex-direction: column;
}
.digits {
  grid-area: digit;
}

.result {
 height: 50px; font-weight: bold;  font-size: 2rem;
}

.modifiers {
 display: flex; flex: 1;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
